{"openapi":"3.0.1","info":{"title":"Block Earner API","description":"Documentation Block Earner API v2.0.0","contact":{"name":"Charlie","email":"charlie@blockearner.com.au"},"version":"2.0.0"},"externalDocs":{"description":"Main web site","url":"https://blockearner.com.au"},"servers":[{"url":"https://api.blockearner.com.au/api"}],"tags":[{"name":"1. Authorization","description":"Login for Swagger"}],"paths":{"/v1/private/payment/bpay/details/{id}":{"get":{"tags":["Bpay"],"operationId":"getBpayDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}},"put":{"tags":["Bpay"],"operationId":"updateBpayDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBpayDetailDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}},"delete":{"tags":["Bpay"],"operationId":"deleteBpayDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/v1/private/bpay/details/{id}":{"get":{"tags":["Bpay"],"operationId":"getBpayDetail_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}},"put":{"tags":["Bpay"],"operationId":"updateBpayDetail_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBpayDetailDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}},"delete":{"tags":["Bpay"],"operationId":"deleteBpayDetail_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/v1/office/loans/status/ratio-limits/{id}":{"put":{"tags":["Loans Office"],"summary":"Edit loan to value status ratio limit for crypto currency","operationId":"editLtvStatusRatioLimit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimitRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}}},"security":[{"authorization":[]}]},"delete":{"tags":["Loans Office"],"summary":"Delete loan to value status ratio limit for crypto currency","operationId":"deleteLtvStatusRatioLimitForCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/loans/offers/{loanOfferId}":{"put":{"tags":["Loans Office"],"summary":"Edit loan offer","operationId":"editLoanOffer","parameters":[{"name":"loanOfferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CustodyEditLoanOfferRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}}},"security":[{"authorization":[]}]},"delete":{"tags":["Loans Office"],"summary":"Delete loan offer","operationId":"deleteLoanOffer","parameters":[{"name":"loanOfferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/aml/rule":{"get":{"tags":["aml-controller"],"summary":"Get list of all AML rules","operationId":"getAllRules","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AmlRuleEntity"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AmlRuleEntity"}}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AmlRuleEntity"}}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AmlRuleEntity"}}}}}},"security":[{"authorization":[]}]},"put":{"tags":["aml-controller"],"summary":"Update AML rule. Works only if no users blocked with this rule","operationId":"updateAmlRule","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AmlUpdateRuleRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"},"403":{"description":"Forbidden"},"405":{"description":"Method Not Allowed"}},"security":[{"authorization":[]}]},"post":{"tags":["aml-controller"],"summary":"Create AML rule","operationId":"createAmlRule","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AmlCreateRuleRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/user/register":{"post":{"tags":["auth-controller"],"summary":"Register user with limited rights","operationId":"registerUser","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthCreateUserRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreLoginResponse"}}}},"403":{"description":"reCaptcha not verified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreLoginResponse"}}}},"406":{"description":"User not allowed ","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreLoginResponse"}}}}}}},"/v1/user/password-reset-request/email/{email}":{"post":{"tags":["auth-controller"],"summary":"Request resend code for password reset for unauthorized user","operationId":"resendCodeForPasswordResetForUnauthorized","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"}}}},"/v1/user/password-change-by-code":{"post":{"tags":["auth-controller"],"operationId":"changePasswordWithVerificationCodeForUnauthorizedUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordWithCodeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/v1/user/login":{"post":{"tags":["auth-controller"],"summary":"Login and authenticate user with limited rights","operationId":"loginUser","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-device-id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsForWeakToken"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreLoginResponse"}}}}}}},"/v1/user/email/{email}":{"get":{"tags":["auth-controller"],"summary":"Get email verification status","operationId":"getStatusEmailVerified","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}}}},"post":{"tags":["auth-controller"],"summary":"Request resend account verification email for unauthorized user. User can't be logged in until email will be verified.","operationId":"resendVerificationEmail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"}}}},"/v1/test/loans/notifications":{"post":{"tags":["Loans"],"summary":"Send loan related notifications","operationId":"loanExpirationNotification","parameters":[{"name":"action","in":"query","required":true,"schema":{"type":"string","enum":["EXPIRATION","REPAYMENT_REMINDER"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/test/custody/loans/{loanId}/repayment-schedule/recalculate":{"post":{"tags":["Loans Office"],"summary":"Office - Recalculate loan fixed term schedule; ONLY FOR TESTING!!!","operationId":"recalculateLoanRepaymentSchedule","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/swagger/login":{"post":{"tags":["1. Authorization"],"summary":"Login and authenticate admin","operationId":"adminLogin","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AdminLogin"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/social/transfer/validate-codes":{"post":{"tags":["social-transfer-controller"],"summary":"Validate Social transfer claim code and SMS","operationId":"validateClaimCodes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimCodesValidationRequest"}}},"required":true},"responses":{"400":{"description":"Bad request"},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimCodesValidationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/social/transfer/find-by-phone-email":{"post":{"tags":["social-transfer-controller"],"summary":"Find social transfers by email or phone","operationId":"findTransferByEmailOrPhone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialSendEmailPhoneDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialSendEmailPhoneDto"}}}},"404":{"description":"Transfer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialSendEmailPhoneDto"}}}}},"security":[{"authorization":[]}]}},"/v1/registration/mobile/verification/verify":{"post":{"tags":["twilio-controller"],"summary":"Validate verification code for registration","operationId":"finishRegistrationProcess","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioVerifyRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/registration/mobile/verification/init":{"post":{"tags":["twilio-controller"],"summary":"Request sending verification code for registration","operationId":"startRegistrationProcess","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioInitRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/registration/login":{"post":{"tags":["auth-controller"],"summary":"Get user token for login and MFA (SMS or QR) code using weak token","operationId":"getFullTokenV2","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-device-id","in":"header","required":false,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCredentialsForFullToken"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/registration/email/verification/verify/{code}":{"post":{"tags":["auth-controller"],"summary":"Verify email code","operationId":"validateVerificationEmail","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"}},"security":[{"authorization":[]}]}},"/v1/registration/email/verification/init":{"post":{"tags":["auth-controller"],"summary":"Initiate email code challenge","operationId":"sendVerificationEmail","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"}},"security":[{"authorization":[]}]}},"/v1/registration/custody/promo/apply":{"post":{"tags":["custody-promo-controller"],"summary":"Apply user promo","operationId":"applyForPromo","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserPromoRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserPromoDto"}}}}}}},"/v1/public/loans/offers/{id}/repayment-schedule":{"post":{"tags":["Loans"],"summary":"Public API for calculating repayment schedule","operationId":"calculateFixedTermLoanSchedulePublic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicLoanRepaymentScheduleRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentPrecalculatedScheduleResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentPrecalculatedScheduleResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/public/custody/promo/apply":{"post":{"tags":["custody-promo-controller"],"summary":"Apply user promo. Deprecated. Use /v1/registration/custody/promo/apply instead","operationId":"applyForPromoOld","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserPromoRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserPromoDto"}}}}},"deprecated":true}},"/v1/public/custody/loan/waitlist":{"post":{"tags":["custody-loan-controller"],"summary":"Apply for loan wait list","operationId":"waitListRegister","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodyLoanWaitListRegisterRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"}}}},"/v1/public/custody/crypto/vault/waitlist":{"post":{"tags":["custody-vault-controller"],"summary":"Apply for custody vault waitlist. ","operationId":"custodyVaultWaitListRegister","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodyWaitListRegisterRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"}}}},"/v1/private/withdrawal-details/{id}/withdraw":{"post":{"tags":["Fiat withdraw"],"summary":"Start fiat withdraw process","operationId":"fiatWithdraw","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayWithdrawRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/verify/sms-totp":{"post":{"tags":["two-factor-authentication-controller"],"summary":"Request verifying sms totp","operationId":"verifySmsTotp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyTotpRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyTotpResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyTotpResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/verify/qr-totp":{"post":{"tags":["two-factor-authentication-controller"],"summary":"Verify Google Authenticator code.","operationId":"verifyTotpCode","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyTotpRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyTotpResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/user/password-change-by-code":{"post":{"tags":["auth-controller"],"summary":"Change password for user with verification code","operationId":"changePasswordWithVerificationCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordWithCodeRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"}}}},"/v1/private/user/details":{"post":{"tags":["auth-controller"],"summary":"Send Individual or Business accounts details during registration ","operationId":"initialUserUpdate","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegistrationDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/private/update-mobile":{"post":{"tags":["two-factor-authentication-controller"],"summary":"Update mobile phone number","operationId":"updateMobilePhoneNumber","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyTotpResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/social/transfer":{"post":{"tags":["social-transfer-controller"],"summary":"Send social transfer","operationId":"sendCrypto","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSocialTransferRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSocialTransferResponse"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSocialTransferResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/remove/qr-totp":{"post":{"tags":["two-factor-authentication-controller"],"summary":"Switching from QR to SMS based 2FA","operationId":"removeQrTotp","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyTotpRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"}},"security":[{"authorization":[]}]}},"/v1/private/payment/custody/withdraw/bank":{"post":{"tags":["Fiat withdraw DEPRECATED"],"summary":"Start withdraw process for custody account using bank transfer option","operationId":"startFiatWithdrawUsingBankTransferOld","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayFiatBankTransferWithdrawDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}},"deprecated":true,"security":[{"authorization":[]}]}},"/v1/private/bpay/details/{id}/pay":{"post":{"tags":["Bpay"],"operationId":"bpayPay","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpayPaymentRequestDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}}}},"/v1/private/payment/bpay/details/{id}/pay":{"post":{"tags":["Bpay"],"operationId":"bpayPay_1","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpayPaymentRequestDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}}}},"/v1/private/bpay/details":{"get":{"tags":["Bpay"],"operationId":"getBpayDetails","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}}},"post":{"tags":["Bpay"],"operationId":"createBpayDetail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBpayDetailDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}}},"/v1/private/payment/bpay/details":{"get":{"tags":["Bpay"],"operationId":"getBpayDetails_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}}},"post":{"tags":["Bpay"],"operationId":"createBpayDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBpayDetailDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BpayDetailDto"}}}}}}},"/v1/private/onfido/submit-check":{"post":{"tags":["onfido-controller"],"summary":"Submit a check with Onfido verification","operationId":"submitOnfidoCheck","parameters":[{"name":"Referer","in":"header","required":false,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnfidoCheckRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Check"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Check"}}}}},"security":[{"authorization":[]}]}},"/v1/private/onfido/generate_sdk_token":{"post":{"tags":["onfido-controller"],"summary":"Generate Onfido Web SDK Token","operationId":"generateWebSdkToken","parameters":[{"name":"Referer","in":"header","required":false,"schema":{"type":"string"}},{"name":"applicationId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"text/plain":{"schema":{"type":"string"}}}}},"deprecated":true,"security":[{"authorization":[]}]}},"/v1/private/onfido/generate-sdk-token":{"post":{"tags":["onfido-controller"],"summary":"Generate Onfido Web SDK Token","operationId":"generateWebSdkToken_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnfidoSdkTokenRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnfidoSdkTokenResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnfidoSdkTokenResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/mobile/verification/verify":{"post":{"tags":["twilio-controller"],"summary":"Validate verification code","operationId":"finishVerificationProcess","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioVerifyRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/mobile/verification/init":{"post":{"tags":["twilio-controller"],"summary":"Request sending verification code","operationId":"startVerificationProcess","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioInitRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TwilioResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/withdraw-collateral":{"post":{"tags":["Loans"],"summary":"Withdraw collateral","operationId":"withdrawCollateral","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawCollateralRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/top-up-collateral":{"post":{"tags":["Loans"],"summary":"Top up collateral","operationId":"topUpCollateral","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpCollateralRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/repayment-schedule":{"post":{"tags":["Loans"],"summary":"Get fixed loan application repayment schedule","operationId":"calculateFixedTermLoanSchedule","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentScheduleItemResponse"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentScheduleItemResponse"}}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/repay/fiat":{"post":{"tags":["Loans"],"summary":"Repay loan with cash","operationId":"repayLoanWithCash","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepaymentFiatRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/repay/collateral":{"post":{"tags":["Loans"],"summary":"Repay loan with collateral","operationId":"repayLoanWithCollateral","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepaymentCollateralRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/interest/calculate/{fiatAmount}":{"post":{"tags":["Loans"],"summary":"Calculate loan interest for additional borrow","operationId":"calculateLoanInterest","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fiatAmount","in":"path","required":true,"schema":{"type":"number"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyTotalInterestResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyTotalInterestResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/close/fiat":{"post":{"tags":["Loans"],"summary":"Close loan with cash","operationId":"closeLoanWithCash","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/close/collateral":{"post":{"tags":["Loans"],"summary":"Close loan with collateral","operationId":"closeLoanWithCollateral","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseLoanCollateralRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/borrow":{"post":{"tags":["Loans"],"summary":"Borrow fiat","operationId":"borrowFiat","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BorrowFiatRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"deprecated":true,"security":[{"authorization":[]}]}},"/v1/private/loans/{loanId}/borrow-request":{"post":{"tags":["Loans"],"summary":"Borrow fiat with applicant info","operationId":"borrowFiatWithApplicantData","parameters":[{"name":"loanId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BorrowFiatRequestWithApplicantInfo"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string","format":"uuid"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string","format":"uuid"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/rollover/agreement/pdf":{"post":{"tags":["Loans"],"summary":"Generate Loan Rollover Agreement PDF","operationId":"generateLoanRolloverAgreementPdf","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanRolloverAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanRolloverAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/rollover/agreement/html":{"post":{"tags":["Loans"],"summary":"Generate Loan Rollover Agreement HTML","operationId":"generateLoanRolloverAgreementHtml","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanRolloverAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanRolloverAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/rollover-applications":{"post":{"tags":["Loans"],"summary":"Loan rollover application creation","operationId":"createRolloverApplication","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanRolloverRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/private/loans/redraws/agreement/pdf":{"post":{"tags":["Loans"],"summary":"Generate Loan Redraw Agreement PDF","operationId":"generateLoanRedrawAgreementPdf","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanRedrawAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanRedrawAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/redraws/agreement/html":{"post":{"tags":["Loans"],"summary":"Generate Loan Redraw Agreement HTML","operationId":"generateLoanRedrawAgreementHtml","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanRedrawAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanRedrawAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/offers/{loanOfferId}/interest/calculate":{"post":{"tags":["Loans"],"summary":"Calculate loan interest for a loan offer","operationId":"calculateLoanInterest_1","parameters":[{"name":"loanOfferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanInterestRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanInterestResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanInterestResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/offers/{loanOfferId}/collateral/calculate":{"post":{"tags":["Loans"],"summary":"Calculate loan collateral","operationId":"calculateLoanCollateral","parameters":[{"name":"loanOfferId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanCollateralRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanCollateralResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyCalculateLoanCollateralResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/offers/{id}/repayment-schedule":{"post":{"tags":["Loans"],"summary":"Get fixed loan application repayment schedule","operationId":"calculateFixedTermLoanSchedule_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanRepaymentScheduleRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentPrecalculatedScheduleResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyFixedLoanRepaymentPrecalculatedScheduleResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/applications":{"get":{"tags":["Loans"],"summary":"Get loan applications","operationId":"getLoanApplications","parameters":[{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["WAITING_FOR_APPROVAL","APPROVED","DECLINED"]}}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}}}},"security":[{"authorization":[]}]},"post":{"tags":["Loans"],"summary":"Create loan application","operationId":"createLoanApplication","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLoanApplicationRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/applications/agreement/pdf":{"post":{"tags":["Loans"],"summary":"Generate Loan Creation Agreement PDF","operationId":"generateLoanApplicationAgreementPdf","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanCreationAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanCreationAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementPdfResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/loans/applications/agreement/html":{"post":{"tags":["Loans"],"summary":"Generate Loan Creation Agreement HTML","operationId":"generateLoanApplicationAgreementHtml","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LoanCreationAgreementCreditLineRequest"},{"$ref":"#/components/schemas/LoanCreationAgreementFixedTermRequest"}]}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanAgreementHtmlResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/generate-qr":{"post":{"tags":["two-factor-authentication-controller"],"summary":"Generate a secret for the user","operationId":"generateQrCode","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MfaQrCodeResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/fiat-transfer/details":{"get":{"tags":["Fiat transfer"],"operationId":"getFiatTransferDetails","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FiatTransferDetailDto"}}}}}}},"post":{"tags":["Fiat transfer"],"operationId":"createFiatTransferDetail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFiatTransferDetailDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiatTransferDetailDto"}}}}}}},"/v1/private/fiat-transfer/details/{id}/transfer":{"post":{"tags":["Fiat transfer"],"operationId":"fiatTransfer","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatTransferPaymentRequestDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}}}},"/v1/private/favourite/coins":{"get":{"tags":["Favourites"],"summary":"Get my favourite coins","operationId":"getFavouriteCoins","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavouriteCoins"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavouriteCoins"}}}}},"security":[{"authorization":[]}]},"post":{"tags":["Favourites"],"summary":"Add to my favourite coins","operationId":"addToFavouriteCoins","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavouriteCoin"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]},"delete":{"tags":["Favourites"],"summary":"Remove from my favourite coins","operationId":"deleteFromFavouriteCoins","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavouriteCoin"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/private/custody/yield/unstake":{"post":{"tags":["custody-yield-controller"],"summary":"Create unstake transaction","operationId":"processYieldUnstake","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/yield/stake":{"post":{"tags":["custody-yield-controller"],"summary":"Create stake transaction","operationId":"processYieldStake","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/YieldResponseEvent"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/stablecoins":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all earnings in stablecoins by user","operationId":"getAllStablecoinsEarningByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/savings":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all savings by user","operationId":"getAllSavingsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/referrals":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all referrals by user","operationId":"getAllReferralsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseReferralDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseReferralDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/otc":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all otc transactions by user","operationId":"getAllOtcEarningsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/loans":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all crypto loan transactions by user","operationId":"getUserLoanTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCustodyLoanTransactionResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCustodyLoanTransactionResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/investments":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all crypto investments by user","operationId":"getAllCryptoInvestmentsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCryptoInvestmentDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCryptoInvestmentDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/gold":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all earnings in gold by user","operationId":"getAllGoldEarningsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/digital-assets":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all earnings in digital assets by user","operationId":"getAllDigitalAssetsEarningsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEarningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/cash":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all cash by user","operationId":"getAllCashByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCashDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCashDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/transaction-page/affiliate-rewards":{"post":{"tags":["custody-transaction-controller"],"summary":"Get all affiliate rewards by user","operationId":"getAllAffiliateRewardsByUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionPageRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseAffiliateRewardDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseAffiliateRewardDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/payment-details":{"get":{"tags":["Fiat withdraw DEPRECATED"],"summary":"Get withdrawal details for auth user","operationId":"getPaymentUserDetailsOld_1","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WithdrawalAccountDto"}}}}}},"deprecated":true},"post":{"tags":["Fiat withdraw DEPRECATED"],"summary":"Create withdrawal details for auth user by user","operationId":"createPaymentUserDetailsByUserOld","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayCreateWithdrawalDetailDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WithdrawalAccountDto"}}}}},"deprecated":true}},"/v1/private/custody/limits":{"get":{"tags":["custody-controller"],"summary":"Get user limits","operationId":"getUserLimits","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}}},"security":[{"authorization":[]}]},"post":{"tags":["custody-controller"],"summary":"Update user limits from user","operationId":"updateUserLimits","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLimitUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}},"403":{"description":"MFA not active","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/investment/trade":{"post":{"tags":["trade-controller"],"summary":"Creates a trade transaction and required a pre-existing quote. Uses legacy trading mechanism","operationId":"processLegacyInvestmentTrade","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvestmentTransactionDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentResponseDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentResponseDto"}}}}},"deprecated":true,"security":[{"authorization":[]}]}},"/v1/private/custody/investment/trade/quote-based":{"post":{"tags":["trade-controller"],"summary":"Creates quote-based investment transaction","operationId":"processInvestmentTrade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/apikey/custody/investment/trade/instant":{"post":{"tags":["trade-controller"],"summary":"Creates instant investment transaction without a quote","operationId":"processInstantInvestmentTrade","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstantTradeRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/investment/trade/instant":{"post":{"tags":["trade-controller"],"summary":"Creates instant investment transaction without a quote","operationId":"processInstantInvestmentTrade_1","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstantTradeRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentB2bResponseDto"}}}}},"security":[{"authorization":[]}]}},"/v1/private/custody/investment/trade/debug-api-call":{"post":{"tags":["trade-controller"],"operationId":"processMockInstantInvestmentTrade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstantTradeRequestDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/private/custody/investment/balance/search":{"post":{"tags":["custody-investment-controller"],"summary":"Search and filter user crypto investments","operationId":"userCryptoInvestmentBalance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoInvestmentSearchRequestDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCryptoInvestmentCoin"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCryptoInvestmentCoin"}}}}},"security":[{"authorization":[]}]}},"/v1/private/crypto/withdraw":{"post":{"tags":["crypto-withdrawal-controller"],"summary":"Send onfido crypto withdrawal request","operationId":"doOnfidoCryptoWithdraw","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoWithdrawalRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWithdrawalVerificationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWithdrawalVerificationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/crypto/wallet/validate":{"post":{"tags":["Crypto utils"],"summary":"Validate crypto wallet","operationId":"validateWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/crypto/wallet/validate":{"post":{"tags":["Crypto utils"],"summary":"Validate crypto wallet","operationId":"validateWallet_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/apikey/crypto/wallet/validate":{"post":{"tags":["Crypto utils"],"summary":"Validate crypto wallet","operationId":"validateWallet_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CryptoWalletValidationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/private/affiliate/claim-reward":{"post":{"tags":["custody-affiliate-controller"],"summary":"Claim all available commissions from affiliate program","operationId":"claimAffiliateReward","responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/private/affiliate-program/apply":{"post":{"tags":["custody-affiliate-controller"],"summary":"Apply current user on affiliate program for user's country.","operationId":"applyOnAffiliateProgram","responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/onfido/webhook":{"post":{"tags":["onfido-controller"],"summary":"Webhook callback","operationId":"webhook","parameters":[{"name":"x-sha2-signature","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/onfido/webhook/tr":{"post":{"tags":["onfido-controller"],"summary":"Webhook callback for Turkey","operationId":"webhookTr","parameters":[{"name":"x-sha2-signature","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/office/verification/kyc/{email}/{status}":{"post":{"tags":["office-controller"],"summary":"Office - Manually update verification status. Personal user: Approved or Denied. Business: only Approved accepts.","operationId":"changeUserStatusManually","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["Approved","Pending","Denied"]}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/verification/kyc/{email}/{status}/{ssn}":{"post":{"tags":["office-controller"],"summary":"Office - Manually update verification status of TR user. Personal user: Approved or Denied. Business: only Approved accepts. SSN should be 12 digits length","operationId":"changeTurkeyUserStatusManually","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["Approved","Pending","Denied"]}},{"name":"ssn","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/SsnCustomer"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"},"409":{"description":"User with SSN already exist"}},"security":[{"authorization":[]}]}},"/v1/office/vakifbank/deposit/{email}/{amount}":{"post":{"tags":["qa-controller"],"summary":"Office deposit for Turkish user (works only in Dev, STG and local env)","description":"On DEV it merely simulates TRY deposit whereas on STG it moves TRY from operating account to custody account at VakifBank and adds the deposit to a customer","operationId":"simulateVakifBankDeposit","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"amount","in":"path","required":true,"schema":{"type":"number"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/IbanDto"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/user/type":{"post":{"tags":["b-2b-admin-controller"],"summary":"Set API Keys for a user","operationId":"setChangeUserType","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ChangeUserTypeRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/user/block":{"get":{"tags":["office-controller"],"summary":"is user's access blocked?","operationId":"isUserBlocked","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]},"post":{"tags":["office-controller"],"summary":"Block/Unblock user's access","operationId":"blockUser","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"block","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/office/user/apikey":{"post":{"tags":["b-2b-admin-controller"],"summary":"Set API Keys for a user","operationId":"setApiKeys","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ApiKeyDto"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/update/agreement/{name}/version/{version}":{"post":{"tags":["office-controller"],"summary":"Office update agreement version","description":"Updates agreement version","operationId":"updateAgreementVersion","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/update-mobile/{email}":{"post":{"tags":["office-controller"],"summary":"Office - Update phone number of the user. Use format +61414123456","operationId":"updateMobilePhoneNumber_1","parameters":[{"name":"mobile","in":"query","required":true,"schema":{"type":"string"}},{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"}},"security":[{"authorization":[]}]}},"/v1/office/treasury/init":{"post":{"tags":["admin-controller"],"summary":"Update treasury balance to valid value","operationId":"initTreasuryUser","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}},"security":[{"authorization":[]}]}},"/v1/office/rate-limit/reset/{userId}/{phoneNumber}":{"post":{"tags":["office-controller"],"summary":"Office reset RateLimit bucket for userId and phoneNumber","operationId":"resetRateLimits","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"phoneNumber","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/public-holidays":{"post":{"tags":["office-controller"],"summary":"Office create public holidays","operationId":"createPublicHolidays","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicHolidaysDto"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/promo/fee/create":{"post":{"tags":["custody-promo-controller"],"summary":"Create fee promo","operationId":"createPromo","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/FeePromoDto"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeePromoDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeePromoDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/promo/create":{"post":{"tags":["custody-promo-controller"],"summary":"Create promo","operationId":"createPromo_1","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CreatePromoRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/promo/applyUser":{"post":{"tags":["custody-promo-controller"],"summary":"apply promo to users","operationId":"applyUserPromos","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OfficeApplyUserPromosRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/payout/{txId}/retry":{"post":{"tags":["office-controller"],"summary":"Office retry pay out","description":"Retries a failed withdrawal attempt with transaction id.","operationId":"retryPayout","parameters":[{"name":"X-Platform-Country","in":"header","required":true,"schema":{"type":"string","enum":["AU","TR"]}},{"name":"txId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/payment/{email}/pay-id":{"post":{"tags":["office-controller"],"summary":"Creates pay-id for user","operationId":"createPayId","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/payment/{email}/bank-account":{"post":{"tags":["office-controller"],"summary":"Creates bank account for user","operationId":"createBankAccount","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/payment/withdraw-npp-without-locking-funds-on-custody":{"post":{"tags":["office-hotfix-controller"],"operationId":"payWithoutLockingFundsOnCustody","parameters":[{"name":"User-Agent","in":"header","required":false,"schema":{"type":"string"}},{"name":"x-source","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CustodyFiatBankTransferWithdrawHotfixDto"}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}}}},"/v1/office/otc/trade/{id}/complete":{"post":{"tags":["otc-controller"],"summary":"Complete OTC trade for a customer","operationId":"completeOtcTrade","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/otc/trade/initiate":{"post":{"tags":["otc-controller"],"summary":"Initiate OTC trade for a customer","operationId":"createOtcTrade","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OtcTradeRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtcTradeResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtcTradeResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/otc/auto-withdrawal-bot/{status}":{"post":{"tags":["otc-controller"],"summary":"Pause auto-withdrawal mechanism at Kraken for OTC trade","operationId":"setKrakenAutoWithdrawalStatus","parameters":[{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["ON","OFF"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/operational/monoova/payid":{"post":{"tags":["admin-controller"],"summary":"Office - Send $ from Operational account within Australia via PayID","operationId":"sendMoneyToPAyIdByOffice","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NppPayIdOrderRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/operational/monoova/npp":{"post":{"tags":["admin-controller"],"summary":"Office - Send $ from Operational account within Australia via NPP","operationId":"sendMoneyToAnotherBankByOffice","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/NppTransferOrderRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponseDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/onfido/new/{email}":{"post":{"tags":["onfido-controller"],"summary":"Assign a new Onfido link to a new user by Customer Services","operationId":"createNewRegistrationCheckEmail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OnfidoOfficeManualCheckRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/onfido/link-secondary-account/{mainAccountEmail}/{secondaryAccountEmail}":{"post":{"tags":["onfido-controller"],"summary":"Assign a new Onfido link to a new user by Customer Services","operationId":"linkExistingKycWithSecondaryAccount","parameters":[{"name":"mainAccountEmail","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondaryAccountEmail","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/onfido/bypass-motion-result/{email}":{"post":{"tags":["onfido-controller"],"summary":"Allow user's who do not pass onfido motion check to proceed with action anyway.","operationId":"bypassVerificationResultUntil","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"amountToAdd","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"unit","in":"query","required":true,"schema":{"type":"string","enum":["Minutes","Hours","Days"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/loans/status/ratio-limits":{"get":{"tags":["Loans Office"],"summary":"Get all loan to value status ratio limits","operationId":"getLtvStatusRatioLimits","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}}}},"security":[{"authorization":[]}]},"post":{"tags":["Loans Office"],"summary":"Create loan to value status ratio limit for crypto currency","operationId":"createLtvStatusRatioLimit","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimitRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanToValueStatusRatioLimit"}}}}},"security":[{"authorization":[]}]}},"/v1/office/loans/rollover-applications":{"get":{"tags":["Loans Office"],"summary":"Office get loan rollover application","operationId":"getRolloverApplications","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["WAITING_FOR_APPROVAL","APPROVED","DECLINED"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}}}},"security":[{"authorization":[]}]},"post":{"tags":["Loans Office"],"summary":"Office create loan rollover application","operationId":"createRolloverApplication_1","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OfficeLoanRolloverRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/loans/rollover-applications/{applicationId}/decline":{"post":{"tags":["Loans Office"],"summary":"Decline loan rollover application","operationId":"declineRolloverApplication","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/loans/rollover-applications/{applicationId}/approve":{"post":{"tags":["Loans Office"],"summary":"Approve loan rollover application","operationId":"approveRolloverApplication","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanRolloverApplicationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/loans/offers":{"get":{"tags":["Loans Office"],"summary":"Get loan offers","operationId":"getAllLoanOffers","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}}}},"security":[{"authorization":[]}]},"post":{"tags":["Loans Office"],"summary":"Create loan offer","operationId":"createLoanOffer","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/CustodyCreateLoanOfferRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanOfferResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/loans/applications/{applicationId}/decline":{"post":{"tags":["Loans Office"],"summary":"Decline loan application","operationId":"declineLoanApplication","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/loans/applications/{applicationId}/approve":{"post":{"tags":["Loans Office"],"summary":"Approve loan application","operationId":"approveLoanApplication","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"paymentDetailsId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustodyLoanApplicationResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/limits/{email}":{"get":{"tags":["office-limits-controller"],"summary":"Get user's limits","operationId":"getUserLimits_1","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request"},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}}},"security":[{"authorization":[]}]},"post":{"tags":["office-limits-controller"],"summary":"Update user's limits. Buy (investments buy or unstake), Sell (investments sell or unstake)","operationId":"updateUserLimits_1","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/LimitUpdate"}}}},"responses":{"400":{"description":"Bad Request"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/limits/{email}/review":{"post":{"tags":["office-limits-controller"],"summary":"Approve waiting limits","operationId":"updateUserLimits_2","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["ALL","WITHDRAW","STAKE","UNSTAKE","CRYPTO_WITHDRAWAL"]}},{"name":"reviewType","in":"query","required":true,"schema":{"type":"string","enum":["APPROVE","REJECT"]}}],"responses":{"400":{"description":"Bad Request"},"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLimits"}}}}},"security":[{"authorization":[]}]}},"/v1/office/kyc-link/appeal-pre-check/{accountId}":{"post":{"tags":["migration-controller"],"summary":"Appeal Pre Check to Binance Step 1","operationId":"appealPreCheck","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","description":"should credit to a user?","required":false,"schema":{"type":"string","description":"should credit to a user?"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AppealPreCheckRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealPreCheckResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealPreCheckResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/kyc-link/appeal-memo/{accountId}":{"post":{"tags":["migration-controller"],"summary":"Appeal Missing MEMO to Binance","operationId":"appealMemo","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AppealMemoRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealConfirmResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealConfirmResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/kyc-link/appeal-inquiry/{accountId}":{"post":{"tags":["migration-controller"],"summary":"Appeal Inquiry","operationId":"appealInquiry","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"txId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/office/kyc-link/appeal-history/{accountId}":{"post":{"tags":["migration-controller"],"summary":"Appeal History","operationId":"appealHistory","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageIndex","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/office/kyc-link/appeal-confirm/{accountId}":{"post":{"tags":["migration-controller"],"summary":"Appeal Confirm to Binance Step 2","operationId":"appealConfirm","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/AppealConfirmRequest"}}}},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealConfirmResponse"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppealConfirmResponse"}}}}},"security":[{"authorization":[]}]}},"/v1/office/investment/retry":{"post":{"tags":["custody-investment-controller"],"summary":"Investment retry","operationId":"investmentRetry","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["INITIATED","REJECTED","EXPIRED","INSUFFICIENT_FUNDS","WAITING_FOR_CRYPTO_PURCHASE","WAITING_FOR_CRYPTO_SELL","READY_FOR_BALANCE_UPDATE","PENDING_DEPOSIT","SUCCESS","SECURITY_CHECK_FAILED"]}},{"name":"hopStatus","in":"query","required":false,"schema":{"type":"string","enum":["INITIATED","REJECTED","EXPIRED","INSUFFICIENT_FUNDS","WAITING_FOR_CRYPTO_PURCHASE","WAITING_FOR_CRYPTO_SELL","READY_FOR_BALANCE_UPDATE","PENDING_DEPOSIT","SUCCESS","SECURITY_CHECK_FAILED"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"},"403":{"description":"Forbidden"}},"security":[{"authorization":[]}]}},"/v1/office/investment/report/totals":{"post":{"tags":["office-controller"],"summary":"Send Crypto Investment Totals report","operationId":"sendCryptoInvestmentTotalsReport","responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/exchange/withdraw":{"post":{"tags":["office-controller"],"summary":"Send USDT from AUD-trading-exchange to Binance","operationId":"withdrawFromExchangeToBinance","parameters":[{"name":"amount","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/exchange/suspend":{"post":{"tags":["admin-controller"],"summary":"Office - Suspend exchange","operationId":"suspendExchange","parameters":[{"name":"exchangeType","in":"query","required":true,"schema":{"type":"string","enum":["Kraken","Binance","OneInch","Jupiter","IndependentReserve","CompoundTestNet","AaveTestNet","Stablehouse"]}},{"name":"suspended","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/custody/yields/retry/{id}/{status}/{hopStatus}":{"post":{"tags":["custody-reckoning-controller"],"summary":"Retry yield","operationId":"retryYield","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"path","required":true,"schema":{"type":"string","enum":["INITIATED","REJECTED","INSUFFICIENT_FUNDS","WAITING_FOR_CRYPTO_PURCHASE","WAITING_FOR_CRYPTO_SELL","READY_FOR_RECKONING","READY_FOR_WITHDRAWAL","CANCELLED_BY_USER","SUCCESS"]}},{"name":"hopStatus","in":"path","required":true,"schema":{"type":"string","enum":["INITIATED","REJECTED","INSUFFICIENT_FUNDS","WAITING_FOR_CRYPTO_PURCHASE","WAITING_FOR_CRYPTO_SELL","READY_FOR_RECKONING","READY_FOR_WITHDRAWAL","CANCELLED_BY_USER","SUCCESS"]}}],"responses":{"400":{"description":"Error"},"200":{"description":"Success"},"401":{"description":"Unauthorised Request"}},"security":[{"authorization":[]}]}},"/v1/office/custody/yields/retry/incomplete":{"post":{"tags":["custody-reckoning-controller"],"summary":"Retry incomplete yield txs","operationId":"retryIncompleteYields","responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"authorization":[]}]}},"/v1/office/custody/yields/incomplete":{"post":{"tags":["custody-reckoning-controller"],"summary":"Get all incomplete yields","operationId":"getIncompleteYields","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/YieldTransactionsRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseYieldDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseYieldDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/custody/reckonings":{"post":{"tags":["custody-reckoning-controller"],"summary":"Get all reckonings","operationId":"getReckonings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReckoningTransactionsRequest"}}},"required":true},"responses":{"400":{"description":"Error"},"200":{"description":"Success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseReckoningDto"}}}},"401":{"description":"Unauthorised Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseReckoningDto"}}}}},"security":[{"authorization":[]}]}},"/v1/office/custody/reckonings/retry":{"post":{"tags":["custody-reckoning-controller"],"summary":"retry reckoning","operationId":"retryReckoning","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["INITIATED","WAITING_FOR_CRYPTO_TRANSFER_FROM_EXCHANGE_TO_FB","WAITING_FOR_CRYPTO_TRANSFER_FROM_EXCHANGE_TO_EXTERNAL_WALLET","WAITING_FOR_CRYPTO_TRANSFER_FROM_FB_TO_EXCHANGE","EXCHANGE_CONFIRMED","READY_FOR_RECKONING","FB_SUBMITTED","FB_REJECTED","FB_F
[...]
